
/*****dinner preparation*****/

#rowID{
    overflow: hidden; 
	padding: 30px;
}
#firstColumn{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
#secondColumn{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
#thirdColumn{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
#prepTitle{
	margin-bottom: 20px;
	margin-top:25px;
	
}
#dishTitle{
	margin-bottom:20px;
}
#pictureBox{
	margin-top: 30px;
	border: 5px solid black;
}

#myDinner_row1{
	padding-top: 50px;
	height: 250px;
	margin:10px
}
#myDinner_top{
	background-color:#FFD685;
	margin:10px
}
#goBack{
	margin-top: 20px;
	background-color:#FFCC66
}
#jumboText{
	margin-top:50px;
}
#nextPage{
	margin-top: 50px;
	background-color:#FFCC66
}
#thePriceisRight{
	margin:20px;
	padding-top:115px;
	border-left: 3px solid black;

}
#boldText{
	color: red
}
#totalPrice{
	color: red
}
#dish{
	text-align: right;
	margin:5px
}
#myDinner_row2{
	margin:10px;
	border-top: 3px solid black
}
/***************************/

div#leftView.col-md-2 {
	margin:0;
	padding:0;
	border-right:3px solid #000;
}

#leftView h3, p, span#dishName,label, span.dishname {
	margin-left: 10px;
}

#leftView label {
	font-weight: normal;
	margin-right: 10px;
}

input#numberOfGuests {
	width: 40px;
}

/* Select-dish */
.jumbotron {
	border-bottom: 3px solid #000;
	clear:both;
	padding:10px;
	margin:0;
}

.jumboLeft {
	float:left;
}

p.jumboLeft {
	font-size: 35px;
	font-weight: bolder;
	padding-right: 20px;
}

p.jumboRight {
	margin-top: 15px;
}

#headers {
	background-color: #C0C0C0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
}

.selDishRow{
	border: 1px solid #000;
}

span#dishName {	
	font-weight: bold;
}

span#dishCost {
	margin-left: 50%;
	font-weight: bold;
}


div.selDishRow {
	background-color: #F8F8F8;
	color:#800000;
	margin-bottom: 5px;
}

span.dishcost{
	margin-left: 20px;
}

button.rmBtn{	
	padding:0;
}

#selectedDishes {
	margin:0 5px;
}

div#selectDish.col-md-6 {
	margin:0;
	padding:0;
	width:80%;
}

div#searchDish {
	margin:0;
	background-color:#FFD685;
	padding:20px;
	border-bottom: 2px solid #000;
	margin-bottom: 50px;
}

div#searchDish p {
	font-weight: bold;
	padding:0;
	margin:0;
}

hr.line{
	width: 90%;
}

.col-md-3 {
	margin:0 10px;
	width:150px;
}

.col-md-3 img {
	border:3px solid #000;
}

p.singleDishTitle {
	border:2px solid #000;
	margin:0;
	text-align: center;
	margin-bottom: 10px;
}

p.singleDishDesc {
	margin:0;
	margin-bottom: 10px;
}